data/*
data_proc/*
data_temp/*
data_test/*
document/*
Figures/*
model/*
model_2s/*
utils\__pycache__/*
test_outputs/*
training_infos/*
iRobeka_Actions/*


*.png
*.jpg
*.pickle
*.pyc
*.avi
*.gif
*.pth
*.zip
*.h5
*.pdf
